# machine learning utilities
numpy
pandas
seaborn
ipykernel

scikit-learn
gradio

# langchain-core
langchain 
langchain-core
langchain-community
langchain-text-splitters
chromadb==0.4.22 
langchain_chroma
faiss-cpu



# hugging face integration
langchain-huggingface
transformers
huggingface-hub 